.find{
  margin-top: 30px;
  display: flex;
&__img__first{
  margin-left: 1;
margin-top: 100px;
}
&__title__text .talent{
  color: #F67E7E;
}
&__title__text{
  text-align:left;
  padding-left: 65px;
  padding-top: 47px;
  width: 620px;
height: 200px;
left: 165px;
top: 2px;
font-family: 'Livvic';
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 100px;
color: #FFFFFF;
}
&_hr{
  margin-left: 1px;
  margin-top: 110px;
width: 50px;
height: 4px;
right: 88.76%;
top: 0%;
bottom: 97.95%;
background: #79C8C7;
}
&__about__text{
  width: 445px;
  height: 112px;
  top:px;
  margin-top: 79px;
  margin-bottom: 79px;
  font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
color: #FFFFFF;
text-align:left;
}
.last__image__1{
  margin-top: 100px;
  margin-left: 880px;
}
}
@media screen and (max-width:768px) {
  .find{
    margin-top: 30px;
    display:inline-block;
  }
  .find__img__first{
   display: none;
    margin-left: 1;
  margin-top: 100px;
  }
  .find__title__text .talent{

    color: #F67E7E;
  }
  
  .find__title__text{
    margin: 40px 0 0 130px;
    text-align:center;
    width: 380px;
  height: 112px;
  top: 2px;
  
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 56px;
  color: #FFFFFF;
  }
  .find_hr{
    display: none;
  }
  .find__about__text{
    width: 457px;
    height: 84px;
    margin:24px 0 0 156px;
    font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #FFFFFF;
  text-align:center;
  }
  .last__image__1{
    margin: 156px 0 0  206px;
  }
}